NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME=gemini-app
# specify GOOGLE_CLOUD env vars or GEMINI_API KEY, not both
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GEMINI_API_KEY=
# if you are using a Google Cloud project, set this to True
# if using a Gemini API key, leave blank
# GOOGLE_GENAI_USE_VERTEXAI=