NEW_RELIC_LOG=stdout
NEW_RELIC_LOG_ENABLED=true
NEW_RELIC_LOG_LEVEL=trace
NEW_RELIC_APP_NAME=lambda-test
NEW_RELIC_SERVERLESS_MODE_ENABLED=true
NEW_RELIC_ACCOUNT_ID=1
# Allowed values `async`, `context`, `cb`, or `streaming`
FUNCTION_MODE=async
# set next to false if you want to run without agent
NEW_RELIC_ENABLED=true
